<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">Thank you for using the <strong>Node/Express MVC Generator</strong> created by <strong><a href="http://bwreid.github.io">bwreid</a></strong>.</p>
        <hr class="my-4">
        <p>This generator creates a monolithic application with models, controllers, and views separated out.
        <p class="lead">
          <br>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </div>
  </div>
</div>
