<div class="container signup">
  <div class="row align-items-center justify-content-md-center">
    <div class="col col-lg-4">
      <h1 class="display-3">Signup</h2>
      <hr>
      <%- include('../shared/success') %>
      <%- include('../shared/error') %>
      <% path = 'signup' %>
      <%- include _form %>
    </div>
  </div>
</div>
